<div class="container">
  <div class="index_body">
    <div class="row">
      <div class="col-md-12">
        <center>
          <h1 class="question_header"> Most recent questions</h1>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form action="/questions/new">
            <input type="submit" value="Ask Question" class="btn-info btn ask_question_button">
        </form>
      </div>
    </div>
    <% @questions.order(created_at: :desc).each do |question| %>
      <div class="list-group-item">
        <div class="row">
          <div class="question_table col-md-3">
            <span class="label label-info"><%= 'asked ' + time_ago_in_words(question.created_at).gsub('about','') + ' ago' %></span>
          </div>
          <div class="question_links col-md-6">
            <%= link_to question.title, question_path(question) %></a>
          </div>
          <div class="col-md-3 recent_question_badges">
            <span class="badge"><p><%= question.answers.count %></p><p>answers</p></span>
            <span class="badge"><p><%= question.votes.count %></p><p>votes</p></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

