<div class="row">
  <div class="col-md-12">
    <h3>All Users</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <% @users.each do |user|%>
    <div class="thumbnail">
      <%= link_to image_tag("dw.png", :class => 'darkwing_logo'), user_path(user.id) %>
      <caption><%=user.username%></caption>
    </div>
    <% end %>
  </div>
</div>


