
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-md-offset-3">
    <div class="thumbnail">
      <%= link_to image_tag("dw.png", :class => 'darkwing_logo'), questions_path %>
      <div class="caption">
        <h3><%= @user.username %></h3>
      </div>

    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h3>Questions</h3>
    <% if @user.questions %>
    <% @user.questions.each do |question| %>
      <%= link_to question.title, question_path(question) %><br />
      <% end %>
      <% end %>
      <br>
  </div>
  <div class="col-md-6">
    <h3>Answered Questions</h3>
    <% if @user.answered_questions %>
    <% @user.answered_questions.each do |answered_question| %>
      <%= link_to answered_question.title, question_path(answered_question) %><br />
    <% end %>
    <% end %>
    <br>
  </div>
</div>
